  .registration-form {
            opacity: 1;
            visibility: hidden;
            transition: opacity 0.3s ease, visibility 0.3s ease;
        }

        .registration-form.show {
            opacity: 5;
            visibility: visible;
        }